### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignorar arquivos compilados (binários)
*.class
target/

# Ignorar arquivos de IDE (Eclipse/IntelliJ/VSCode)
.idea/
*.iml
.settings/

# Ignorar arquivos do sistema
Thumbs.db